!!! 5
html(lang='ko')
  head
    meta(charset='UTF-8')
    title #front_end
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    script(src='http://platform.twitter.com/anywhere.js?id=p4rK1CCM5Dz3o59lEcJxA&amp;v=1')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    - var regex = /\b(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?\b/gi;
    script
      $(document).ready(function() {
        twttr.anywhere(function(twitter) {
          twitter.hovercards();
        });
        var urlReplacer = function(str) {
          return str.link(str);
        }
        var regex = !{regex};
        $('.text').each(function() {
           var obj =$(this);
           obj.text(obj.text().replace(regex, urlReplacer)); 
        });
      });
       
      // google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1316180-5']);
      _gaq.push(['_setDomainName', '.nodester.kr']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();